/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

body {
  font-family: raleway;
}

img {
  max-width: 100%;
  height: auto;
}

* {
box-sizing: border-box;
}

#features {
  color: #fff;
}

.large-hero {
  position: relative;


}

.large-hero__image {
    border-bottom: 10px solid #164163;
    display: block;
  }

.large-hero__text-content {
    padding-top:88px;
    position: absolute;
    bottom: 72%;
    left: 0;
    width: 100%;
    text-align: center;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);

  }

@media (min-width: 800px) {

.large-hero__text-content {
      padding-top: 60px

  }
  }

.large-hero__title {
    font-size: 2.4rem;
    color: #fff;
    margin: 0;
    font-weight: 300;
  }

@media (min-width: 530px) {

.large-hero__title {
      font-size: 3.5rem
  }
  }

.large-hero__subtitle {
    font-weight: 300;
    color: #fff;
    font-size: 1.5rem;
    margin: 0;
    display: inline;
  }

@media (min-width: 530px) {

.large-hero__subtitle {
      font-size: 2.5rem
  }
  }

.large-hero__description {
    color: #fff;
    font-size: 1.1rem;
    font-weight: 100;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, .1);
    max-width: 30rem;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 530px) {

.large-hero__description {
      font-size: 1.875rem
}
  }

.btn {
  font-size: 1.3rem;
  background-color: #164163;
  color:#fff;
  text-decoration: none;
  padding: .75rem 1.2rem;
  display: inline-block;
}

.btn--orange {

  }

.btn--pull-left {
    margin-right: 1.5rem;
  }

.btn--centered {
    padding: 1.3rem;
  }

.page-section {

  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;


}

.page-section--top {
    text-align: center;
  }

.page-section--middle {
    text-align: center;
    font-size: 3rem;
  }

.page-section h2 {
    font-size: 3rem;
    font-weight: 300;
    padding: 3rem 0;
    color: #164163;
  }

.page-section h3 {
    font-size: 2.3rem;
    font-weight: 100;
    color: #fd550a;
  }

.page-section--blue {
    background-color: #164163;
  }

.charmander {
  display:block;
  padding-left: 18px;
  padding-right: 18px;
  margin-left: auto;
  margin-right: auto;
}

.row::after {
    content: "";
    clear: both;
    display: table;
  }

.row--gutters {
    margin-right: -65px;
  }

.row--gutters > div {
    padding-right: 65px;
  }

.row__4 {
    float:left;
    width: 33.33%;

  }

.row__8 {
    float:left;
    width: 66.66%;
  }

.generic-content-container p {
    font-weight: 300;
    line-height: 1.65;
    margin: 0 0 1.8rem 0;
  }

@media (min-width: 530px) {

.generic-content-container p {
      font-size: 1.125rem
  }
  }

.generic-content-container p a {
    font-weight: 700;
    color: #fd550a;
  }

.site-header {
  padding: 10px 0;;
  position: absolute;
  width: 100%;
  z-index: 2;
}

@media (min-width: 800px) {

.site-header {
    background-color: rgba(47, 85, 114, .2)
}
  }

.site-header__btn-container {
    float:right;
  }

.primary-nav--pull-right {
    float:right;
  }

.primary-nav ul {
    margin: 0;
    padding: 0;
  }

.primary-nav ul::after {
    content: "";
    clear: both;
    display: table;
  }

.primary-nav li {
    list-style: none;
    float: left;
    padding-right: 20px;
  }

.primary-nav a {
    font-size: 1.3rem;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    display: block;
    padding: 12px 0;
  }

.ash {
  position: relative;
  padding: 100px 0;
  max-height: 850px;
  display: block;
}

.feature-item {
  position: relative;
  padding-bottom: 2.5rem;
}

@media (min-width: 530px) {

.feature-item {
    padding-left: 94px
}
  }

.feature-item__icon {
    display: block;
    margin: 0 auto;
  }

@media (min-width: 530px) {

.feature-item__icon {
      position: absolute;
      left: 0;
      padding-right: 20px
  }
  }

.feature-item__title {
    font-size: 1.6rem;
    font-weight: 300;
    margin-top: .7em;
    margin-bottom: .8rem;
    text-align: center;
  }

@media (min-width: 530px) {

.feature-item__title {
      text-align: left;
      margin-top: 1em;
      font-size: 1.875rem
  }
  }

.wrapper {
  overflow:hidden;
  padding-left: 18px;
  padding-right: 18px;
  max-width:1236px;
  margin-left:auto;
  margin-right:auto;


}

.wrapper--medium {
  max-width: 976px;
}

.wrapper--no-padding-until-medium {
  padding-left: 0;
  padding-right: 0;
}

@media (min-width: 800px) {

.wrapper--no-padding-until-medium {
    padding-left: 18px;
    padding-right: 18px
}
  }

.wrapper--no-padding-until-large {
  padding-left: 0;
  padding-right: 0;
}

@media (min-width: 1010px) {

.wrapper--no-padding-until-large {
    padding-left: 18px;
    padding-right: 18px
}
  }

.wrapper .wrapper {
  padding-left: 0;
  padding-right: 0;
}

.wrapper--b-margin {

  margin-bottom:1rem;

}

@media (min-width: 530px) {

.wrapper--b-margin {
    margin-bottom: 3.875rem

}
  }

.testimonial {
  background-color: rgba(255, 255, 255, .8);
  padding: 0 18px 1px 18px;
  margin-bottom: 98px;
}

@media (min-width: 1010px) {

.testimonial {
  margin-bottom: 0;
  padding: 0 1.8125rem 1px 1.8125rem
}
  }

.testimonial--last {
  margin-bottom: 0;
}

.testimonial__photo {
    border-radius: 80px;
    overflow:hidden;
    width: 160px ;
    height:160px ;
    margin: 0 auto -80px auto;
    position: relative;
    top: -80px;
    border: 6px solid rgba(255, 255, 255, .8);
  }

.testimonial__title {
    color: #164163;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    margin:0;
  }

.testimonial__subtitle {
    color: #fd550a;
    text-align: center;
    font-weight: 400;
    font-size: 0.9375rem;
    margin: .25rem 0 1rem 0;
  }
