.btn {
  font-size: 1.3rem;
  background-color: $mainBlue;
  color:#fff;
  text-decoration: none;
  padding: .75rem 1.2rem;
  display: inline-block;

  &--orange {

  }

  &--pull-left {
    margin-right: 1.5rem;
  }

  &--centered {
    padding: 1.3rem;
  }
}
