.generic-content-container {
  p {
    font-weight: 300;
    line-height: 1.65;
    margin: 0 0 1.8rem 0;

    @mixin atSmall {
      font-size: 1.125rem;
    }
  }

  p a {
    font-weight: 700;
    color: $mainOrange;
  }
}
