.large-hero {
  position: relative;

  &__image {
    border-bottom: 10px solid $mainBlue;
    display: block;
  }

  &__text-content {
    padding-top:88px;
    position: absolute;
    bottom: 72%;
    left: 0;
    width: 100%;
    text-align: center;
    transform: translateY(100%);


    @mixin atMedium {
      padding-top: 60px;
    }

  }

  &__title {
    font-size: 2.4rem;
    color: #fff;
    margin: 0;
    font-weight: 300;

    @mixin atSmall {
      font-size: 3.5rem;
    }
  }

  &__subtitle {
    font-weight: 300;
    color: #fff;
    font-size: 1.5rem;
    margin: 0;
    display: inline;

    @mixin atSmall {
      font-size: 2.5rem;
    }
  }

  &__description {
    color: #fff;
    font-size: 1.1rem;
    font-weight: 100;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, .1);
    max-width: 30rem;
    margin-left: auto;
    margin-right: auto;

    @mixin atSmall {
      font-size: 1.875rem;
  }
}


}
