.page-section {

  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;

  &--top {
    text-align: center;
  }

  &--middle {
    text-align: center;
    font-size: 3rem;
  }

  h2 {
    font-size: 3rem;
    font-weight: 300;
    padding: 3rem 0;
    color: $mainBlue;
  }

  h3 {
    font-size: 2.3rem;
    font-weight: 100;
    color: $mainOrange;
  }

  &--blue {
    background-color: $mainBlue;
  }


}
