.primary-nav {

  &--pull-right {
    float:right;
  }

  ul {
    margin: 0;
    padding: 0;
    @mixin clearfix;
  }

  li {
    list-style: none;
    float: left;
    padding-right: 20px;
  }

  a {
    font-size: 1.3rem;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    display: block;
    padding: 12px 0;
  }
}
