.row {

  @mixin clearfix;

  &--gutters {
    margin-right: -65px;
  }

  &--gutters > div {
    padding-right: 65px;
  }

  &__4 {
    float:left;
    width: 33.33%;

  }

  &__8 {
    float:left;
    width: 66.66%;
  }
}
