.site-header {
  padding: 10px 0;;
  position: absolute;
  width: 100%;
  z-index: 2;

  @mixin atMedium {
    background-color: rgba(47, 85, 114, .2);
  }

  &__btn-container {
    float:right;
  }
}
